services:
  enso:
    build: .
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATA_REDIS_URL: ${SPRING_DATA_REDIS_URL}
      UDP_REDIS_HASH: ${UDP_REDIS_HASH:-enso:rooms}
      SERVER_PORT: ${SERVER_PORT:-8080}
    ports:
      - "8080:8080"
      - "11908:11908/tcp"
      - "11907:11907/udp"